<div class='flex item-center justify-center mt-4'>
  <div class="bg-white max-w-2xl shadow overflow-hidden sm:rounded-lg relative">
    <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          <%= t('.title') %>
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
            Detalhes e informações sobre o usuário.
        </p>
    </div>
    <div class="border-t border-gray-200">
        <dl>
            <div class="bg-gray-50 profile-row">
                <dt class="text-sm font-medium text-gray-500">
                  <%=User.human_attribute_name(:name)%>
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  <%=@profile.user.name%> <%=@profile.user.last_name%>
                </dd>
            </div>
            <div class="bg-white profile-row">
                <dt class="text-sm font-medium text-gray-500">
                  <%=User.human_attribute_name(:email)%>
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  <%=@profile.user.email%>
                </dd>
            </div>
            <div class="bg-gray-50 profile-row">
                <dt class="text-sm font-medium text-gray-500">
                  <%=Profile.human_attribute_name(:city)%>
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  <%=@profile.city%>
                </dd>
            </div>
            <div class="bg-white profile-row">
                <dt class="text-sm font-medium text-gray-500">
                  <%=Profile.human_attribute_name(:state)%>
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  <%=@profile.state%>
                </dd>
            </div>
            <div class="bg-gray-50 profile-row">
                <dt class="text-sm font-medium text-gray-500">
                  <%=Profile.human_attribute_name(:phone_number)%>
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  <%=@profile.phone_number%>
                </dd>
            </div>
            <div class="bg-white profile-row relative">
              <div>
                <dt class="text-sm font-medium text-gray-500">
                    <%=Profile.human_attribute_name(:social_link).pluralize%>
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  <%@profile.social_links.each do |social_link|%>
                    <%= link_to social_link.social_medium.name, social_link.url, class: 'text-blue-500 underline' %> <br />
                  <% end %>
                </dd>
              </div>
                <%= link_to t('.add_social_link'), new_user_profile_social_link_path(user_id: current_user, profile_id: @profile), class: 'absolute top-2 right-2 mt-2 text-blue-500 underline' %>
            </div>
        </dl>
    </div>
    <%= link_to t('.edit_profile'), edit_user_profile_path(user_id: current_user, id: current_user.profile), class: 'absolute top-2 right-2 mt-2 text-blue-500 underline' %>
  </div>
</div>