<%= page_title("#{t('.title')}")%>

<% if @favorites.present? %>
  <div class="container mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <% @favorites.each do |event| %>
          <div id="event_id_<%=event.event_id%>" class="card-event relative">
            <%= link_to  event_by_name_path(event_id: event.event_id, name: event.name.parameterize) do %>
              <%= render '/events/event', event: event %>
            <% end %>
            <%= delete_favorite('x', favorite_path(Favorite.find_by(event_id: event.event_id))) %>
          </div>
      <% end %>
    </div>
  </div>
<% else %>
  <p class="text-lg text-center text-gray-500 dark:text-black-300 mt-6"><%=t('.no_favorites')%></p>
<% end %>
