<div class="w-full flex items-center justify-between">
  <div class="w-1/4"></div>
  <%= page_title(t('.available_events'))%>
  <div class="w-1/4 relative">
    <%= form_with(url: events_path, method: :get, class: "w-full") do |f| %>
      <%= f.text_field :query, placeholder: t('.search_placeholder'), class: 'text-sm px-5 py-2.5 rounded-lg'%>
      <%= f.submit t('.search_btn'), class: 'btn-confirm' %>
    <% end %>
  </div>
</div>


<% if @events.present? %>
  <div class="container mx-auto p-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <% @events.each do |event| %>
        <div class="card-event cursor-pointer">
          <%= link_to event_by_name_path(event_id: event.event_id, name: event.name.parameterize) do %>
            <%= render '/events/event', event: event %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <p class="text-lg text-center text-gray-500 dark:text-black-300 mt-6"><%=t('.unavailable_events')%></p>
<% end %>
