<div class="bg-gray-100 min-h-screen flex-col items-center justify-center p-6 w-full">
  <div class='flex flex-col justify-center items-center w-full'>
    <div class="flex ">
     <%= image_tag @event.banner %>
    </div>
    <div></div>
    <div class="w-3/5 bg-white p-6 rounded-lg shadow-md">
      <div class="flex">
        <h1 class="text-2xl font-bold text-gray-800"> <%= @event.name %> </h1> 
        <% if current_user && current_user.favorites.find_by(event_id: @event.event_id).present? %>
          <p><%=Favorite.model_name.human%></p>
        <% else %> 
          <%= form_with(url: favorites_path) do |f| %>
            <%= f.hidden_field :event_id, value: @event.event_id %>
            <%= f.submit t('.add_favorites') %>
          <% end %>
        <% end %>
      </div>
      <p class="text-sm text-gray-500 mt-1"><%=I18n.t('event.local_event')%>: <%= @event.local_event %></p>
      <p class="text-sm text-gray-500 mt-1"> <%= @event.description %> </p>
      <p class="text-sm text-gray-500 mt-1"></p>
      <p class="text-sm text-gray-500 mt-1"> <span class="font-bold"><%=I18n.t('event.event_owner')%>:</span> <%= @event.event_owner %> </p>
      <p class="text-sm text-gray-500 mt-1"> <span class="font-bold"><%=I18n.t('event.limit_participants')%>:</span> <%= @event.limit_participants %> </p>
      <a class="text-sm text-gray-500 mt-1">  <%= @event.url_event %> </a>
    </div>
    <div class="w-3/5 bg-white p-6 rounded-lg shadow-md m-3">
      <h2><%=t('.event_agenda')%></h2>
        <% if @event.event_agendas.empty? %>
    
          <p class="mt-4 text-gray-600"> <%=t('.no_schedule')%> </p>
    
        <% else %>
          <div class="mt-4 space-y-4">
            <% @event.event_agendas.each do |event_agenda|%>
              <div class="bg-white p-4 rounded-lg shadow-md">
              <p class="font-bold text-gray-800"><%= event_agenda.title %></p>
                <p class="text-sm text-gray-600 m-1"><%= event_agenda.description %></p>
                <p class="text-sm text-gray-600"><span class="font-bold"><%=I18n.t('event_agenda.start_time')%>:</span> <%= event_agenda.start_time %></p>
                <p class="text-sm text-gray-600"><span class="font-bold"><%=I18n.t('event_agenda.duration')%>:</span> <%= event_agenda.duration %>min</p>
                <p class="text-sm text-gray-600"><span class="font-bold"><%=I18n.t('event_agenda.type')%>:</span> <%= event_agenda.type %></p>
                <p class="text-sm text-gray-600"><span class="font-bold"><%=I18n.t('event_agenda.instructor')%>:</span> <%= event_agenda.instructor %></p>
                <p class="text-sm text-gray-600"><span class="font-bold"><%=I18n.t('event_agenda.email')%>:</span> <%= event_agenda.email %></p>
              </div>
            <% end %>
          </div>
          
        <% end %>
    </div>
    <%= link_to t('.tickets'), "#", class: "bg-blue-600 text-white px-6 py-3 rounded-lg font-semibold hover:bg-blue-700 transition" %>
  </div>
</div>

