<div class='flex flex-col justify-center items-center w-full bg-white'>
  <div class="w-full">
    <% if @event.banner.present? %>
      <%= image_tag @event.banner, class: 'w-full h-96 object-cover' %>
    <% end %>
  </div>
  <div class="flex justify-between bg-white p-6 w-full">
    <div class="flex items-center space-x-4">
      <% if @event.logo.present? %>
        <img class="w-20 h-20 mb-3 rounded-full" src="<%= @event.logo %>" alt="Logo do evento"/>
      <% end %>
      <h5 class="mb-2 text-2xl font-bold tracking-tigh text-black"><%= @event.name %></h5>
    </div>
    <div class="flex items-center space-x-4">
      <% if user_signed_in? && current_user.participates_in_event?(@event.event_id) %>
        <%= link_to my_event_path(id: @event.event_id), class: "btn-event" do %>
          <span><%= t('.event_details') %></span>
        <% end %>
      <% end %>
    </div>
  
    <div class="space-y-4 text-right">
      <div class="space-y-2">
        <% if current_user && current_user.favorites.find_by(event_id: @event.event_id).present? %>
          <p class='text-green-800'><%= Favorite.model_name.human %></p>
        <% else %> 
          <%= form_with(url: favorites_path) do |f| %>
            <%= f.hidden_field :event_id, value: @event.event_id %>
            <%= f.submit t('.add_favorites'), class: 'text-blue-500 underline cursor-pointer' %>
          <% end %>
        <% end %> 
      </div>
      <div>
        <% if @event.batches.any? && @event.batches.min_by { |batch| batch.start_date }.start_date <= DateTime.now.to_date %>
          <%= link_to t('.tickets'), event_batches_path(@event.event_id), class: "btn-buy" %>
         
        <% elsif @event.batches.any? && @total_tickets_sales == @event.batches.reduce(0) {|acc, curr| acc + curr.limit_tickets } %>
          <%= link_to t('.soldout'), event_batches_path(@event.event_id), class: "btn-buy", disabled: true %>
        <% elsif @event.batches.any? %>
          <%= button_to t('.add_reminder'), reminders_path(event_id: @event.event_id), method: :create, class: "btn-confirm" if user_signed_in? && !current_user.reminders.pluck(:event_id).include?(@event.event_id) %>
          <%= button_to t('.remove_reminder'), reminder_path(current_user.reminders.find_by(event_id: @event.event_id).id), method: :delete, class: "btn-buy" if user_signed_in? && current_user.reminders.pluck(:event_id).include?(@event.event_id) %>
          <p><%=t('.ticket_date')%> <%=I18n.l(@event.batches.min_by { |batch| batch.start_date }.start_date, format: :short)%></p>
        <% else %>
          <%= button_to t('.add_reminder'), reminders_path(event_id: @event.event_id), method: :create, class: "btn-confirm" if user_signed_in? && !current_user.reminders.pluck(:event_id).include?(@event.event_id) && @event.batches.any? %>
          <%= button_to t('.remove_reminder'), reminder_path(current_user.reminders.find_by(event_id: @event.event_id).id), method: :delete, class: "btn-buy" if user_signed_in? && current_user.reminders.pluck(:event_id).include?(@event.event_id) %>
          <p class='text-red-700'><%=t('.no_tickets_registered')%></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="bg-white p-6 rounded-lg shadow-md w-full">
    <div class="flex justify-between w-auto">
      <dl>
        <dt class="text-sm text-black-500 mt-1 font-bold"><%= I18n.t('event.start_date') %>:</dt>
        <dd class="text-sm text-gray-500 mt-1"><%= I18n.l(@event.start_date, format: :long) %></dd>
        <dt class="text-sm text-black-500 mt-1 font-bold"><%= I18n.t('event.end_date') %>:</dt>
        <dd class="text-sm text-gray-500 mt-1"><%= I18n.l(@event.end_date, format: :long) %> </dd>
      </dl>
      <dl>        
        <dt class="text-sm text-black-500 mt-1 font-bold"><%= I18n.t('event.local_event') %>:</dt>
        <dd class="text-sm text-gray-500 mt-1"><%= @event.local_event %> </dd>
        <dt class="text-sm text-black-500 mt-1 font-bold"><%= I18n.t('event.limit_participants') %>:</dt>
        <dd class="text-sm text-gray-500 mt-1"><%= @event.limit_participants %></dd>
      </dl>
      <dl>        
        <dt class="text-sm text-black-500 mt-1 font-bold"><%= I18n.t('event.event_owner') %>:</dt>
        <dd class="text-sm text-gray-500 mt-1"><%= @event.event_owner %>  </dd>
        <dt class="text-sm text-black-500 mt-1 font-bold"><%= I18n.t('event.url_event') %>:</dt>
        <dd class="text-sm text-gray-500 mt-1"><%= @event.url_event %></dd>
      </dl>
    </div>    
  </div>
  <div class="bg-white p-6 m-3 w-full">
    <h2><%= t('.event_description') %>:</h2>
    <%= render 'layouts/action_text/contents/content' do %>
      <%= @event.rich_text_description %>
    <% end %>
  </div>          
  <div class="bg-white p-6 m-3 w-full">
    <h2><%= t('.event_agenda') %></h2>
    <% if @event.schedules.empty? %>
      <p class="mt-4 text-gray-600"><%= t('.no_schedule') %></p>
    <% else %>
      <div class="mt-4 space-y-4">
        <% @event.schedules.each do |schedule| %>
          <p class="font-bold text-gray-800"><%= I18n.l(schedule.date) %></p>
          <% if schedule.schedule_items.empty? %>
            <p class="mt-4 text-gray-600"><%= t('.no_schedule_item') %></p>
          <% else %>
            <% schedule.schedule_items.each do |item| %>
              <div class="bg-white p-4 rounded-lg shadow-md">
                <p class="font-bold text-gray-800"><%= item.name %></p>
                <p class="text-sm text-gray-600"><span class="font-bold"><%= I18n.t('schedule.start_time') %>:</span> <%= item.start_time %></p>
                <p class="text-sm text-gray-600"><span class="font-bold"><%= I18n.t('schedule.duration') %>:</span> <%= item.duration %>min</p>
                 <p class="text-sm text-gray-600"><span class="font-bold"><%= I18n.t('schedule.responsible_email') %>:</span> <%= item.responsible_email %></p>
                <p class="text-sm text-gray-600"><span class="font-bold"><%= I18n.t('schedule.responsible_name') %>:</span> <%= item.responsible_name %></p>
                <p class="text-sm text-gray-600"><span class="font-bold"><%= I18n.t('schedule.schedule_type') %>:</span> <%=  I18n.t("schedule.schedule_types.#{item.schedule_type}") %></p>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
    <% if user_signed_in? && current_user.participates_in_event?(@event.event_id)%>
      <section class="w-full mt-10 mb-10">
        <div class="flex items-center justify-between mb-6 px-6">
          <h2 class="text-3xl font-bold text-gray-900">Feed</h2>
          <%= link_to new_event_post_path(event_id: @event.event_id), class: "btn-confirm" do %>
            <span><%=t('.add_post')%></span>
          <% end %>
        </div>
        <ul class="space-y-4">
          <% if @announcements.any? %>
            <% @announcements.each do |announcement| %>
              <%= render 'announcements/announcement_list_item', announcement: announcement %>
            <% end %>
          <% end %>
        </ul>
        <ul class="space-y-4">
          <% if @posts.any? %>
            <% @posts.each do |post| %>
              <li class="bg-white shadow-md rounded-lg transition hover:shadow-lg flex justify-between w-50" id="<%=dom_id(post)%>">
                <%= render post %>
                <div>
                  <%= link_to t('.edit_post'), edit_event_post_path(@event.event_id, post), class: "btn-confirm" if post.user == current_user %>
                </div>
              </li>
            <% end %>
          <% else %>
            <p><%=t('.no_posts')%></p>
          <% end %>
        </ul>
      </section>
    <% end %>
</div>

<% if @speakers.any? %>
  <h2 class="ms-2 font-semibold text-4xl mb-6
 text-violet-900 dark:text-violet-900 text-center"><%= t('.meet_our_guests') %></h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 h">
    <% @speakers.each do |speaker| %>
      <%= render 'speakers/speaker_card', speaker: speaker %>
    <% end %>
  </div>
<% end %>
 