<div class="max-w-4xl mx-auto p-6">
  <h1 class="text-2xl font-bold text-gray-900 mb-4">
    <%= page_title("#{@event.name}") %>
  </h1>

  <div class="bg-white p-6 m-3 w-full">
    <h2 class="text-3xl font-bold text-gray-900"><%= t('.event_agenda') %></h2>
    <% if @event.schedules.empty? %>
      <p class="mt-4 text-gray-600"><%= t('.no_schedule') %></p>
    <% else %>

      <div class="mt-4 space-y-4">
        <% @event.schedules.each do |schedule| %>
          <p class="font-bold text-gray-800 text-lg"><%= I18n.l(schedule.date) %></p>
          <% if schedule.schedule_items.empty? %>
            <p class="mt-4 text-gray-600"><%= t('.no_schedule_item') %></p>
          <% else %>
            <% schedule.schedule_items.each do |item| %>
                <div id='<%= "schedule_item_code_#{item.schedule_item_id}" %>' class="bg-white p-4 rounded-lg shadow-md border-l-4 border-purple-700">
                  <%= link_to my_event_schedule_item_path(my_event_id: @event.event_id, id: item.schedule_item_id) do %>
                  <p class="font-bold text-gray-800 text-lg"><%= item.name %></p>
                  <p class="text-sm text-gray-600"><span class="font-bold"><%= I18n.t('schedule.start_time') %>:</span> <%= item.start_time %></p>
                  <p class="text-sm text-gray-600"><span class="font-bold"><%= I18n.t('schedule.duration') %>:</span> <%= item.duration %>min</p>
                  <%= link_to 'Adicionar Feedback', new_my_event_schedule_item_item_feedback_path(my_event_id: @event.event_id, schedule_item_id: item.schedule_item_id), class: 'mt-2 text-blue-500 underline' if @event.end_date < DateTime.now%>
                  <% end %>
                </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if user_signed_in? && current_user.participates_in_event?(@event.event_id) %>
    <section class="w-full mt-10 mb-10">
      <div class="flex items-center justify-between mb-6 px-6">
        <h2 class="text-3xl font-bold text-gray-900">Feed</h2>
        <%= link_to new_event_post_path(event_id: @event.event_id), class: "btn-confirm" do %>
          <span><%= t('.add_post') %></span>
        <% end %>
      </div>
      <ul class="space-y-4">
        <% if @posts.any? %>
          <% @posts.each do |post| %>
            <li class="bg-white shadow-md rounded-lg transition hover:shadow-lg px-6 py-4 border-l-4 border-indigo-500 flex flex-col" id="<%= dom_id(post) %>">
              <%= render post %>
              <div class="mt-2 text-right">
                <%= link_to t('.edit_post'), edit_event_post_path(@event.event_id, post), class: "btn-confirm" if post.user == current_user %>
              </div>
            </li>
          <% end %>
        <% else %>
          <p class="text-gray-600 text-center"><%= t('.no_posts') %></p>
        <% end %>
      </ul>
    </section>
  <% end %>

<% @batches.keys.each do |batch_id| %>
    <div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden shadow-lg">
      <div class="bg-gradient-to-r from-purple-600 to-indigo-600 p-6 text-white">
        <h1 class="text-2xl font-bold"><%= @event.name %></h1>
        <p class="text-sm opacity-75 mt-1">
        <%= @batches[batch_id].name %> x<%= @tickets_by_batch_id[batch_id].count %>
        </p>
      </div>
      <% @tickets_by_batch_id[batch_id].each do |ticket| %>
      <div class="p-6">
        <div class="flex justify-between items-center mb-6">
          <div>
            <p class="text-sm text-gray-600"><%= t('.date')%></p>
            <p class="text-lg font-semibold"><%= I18n.l(ticket.date_of_purchase, format: :date) %></p>
          </div>
          <div class="text-right">
            <p class="text-sm text-gray-600"><%= t('.time')%></p>
            <p class="text-lg font-semibold"><%= I18n.l(ticket.date_of_purchase, format: :hour) %></p>
          </div>
        </div>

        <div class="mb-6">
          <p class="text-sm text-gray-600"><%= t('.local')%></p>
          <p class="text-lg font-semibold"><%= @event.local_event %></p>
        </div>
      </div>

      <div class="border-t border-dashed p-6">
        <div class="flex justify-between items-center">
          <div>
            <p class="text-sm text-gray-600"><%= t('.ticket_number')%></p>
            <p class="text-md font-mono font-semibold"><%= ticket.token %></p>
          </div>
           <%= link_to event_batch_ticket_path(event_id: @event.event_id, batch_id: ticket.batch_id, id: ticket.id) do %>
          <div class="h-16 w-16 bg-gray-200 rounded flex items-center justify-center">
            <span class="text-gray-600 text-xs"><%= t('.qr_code')%></span>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
