<div class='flex item-center justify-center'>
  <div class="relative flex flex-col bg-purple-300 shadow-sm border border-purple-900 w-96 rounded-lg my-6">
    <div class="relative m-2.5 items-center flex justify-center text-white h-24 rounded-md bg-purple-700">
      <%= form_title(t('.title')) %>
    </div>
    <div class="flex flex-col gap-4 p-6">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="w-full max-w-sm min-w-[200px]">
          <%= f.label :email,  class: "form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-field" %>
        </div>

        <div class="w-full max-w-sm min-w-[200px]">
          <%= f.label :password,  class: "form-label" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-field" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="inline-flex items-center mt-2">
            <label class="flex items-center cursor-pointer relative" for="check-2">
              <%= f.check_box :remember_me, class: "peer h-5 w-5 cursor-pointer transition-all appearance-none rounded shadow hover:shadow-md border border-purple-900 checked:bg-slate-800 checked:border-slate-800", id: "check-2" %>
              <span class="absolute text-white opacity-0 pointer-events-none peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                </svg>
              </span>
            </label>
            <%= f.label :remember_me, class: "cursor-pointer ml-2 text-slate-600 text-sm", for: "check-2" %>
          </div>
        <% end %>
        <div class="p-6 pt-0">
          <%= f.submit t('.log_in') , class: 'btn-login' %>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
  </div>
</div>