<%= page_title(t('.title'))%>

<%= render 'shared/errors_messages', model: @post %>

<%= form_with(model: @post, method: :post, url: event_posts_path(event_id: @event_id)) do |f| %>

  <%=f.label :title, class: 'form-label' %>
  <%=f.text_field :title, class: 'form-field' %>
  
  <%=f.label :content, class: 'form-label' %>
  <%=f.rich_text_area :content, class: 'form-field' %>

  <div class="flex justify-center mt-4">
    <%= f.submit t('.save'), class: 'btn-confirm px-4 py-2 bg-blue-600 text-white rounded-lg shadow-md hover:bg-blue-700' %>
  </div>
<% end %>