<div class='ml-6 mt-9'>
  <%= button_to_back %>
</div>

<div class="post-container">
  <h1 class="post-title"><%= page_title(@post.title) %></h1>
  <div class="post-content"><%= @post.content %></div>
  <p class="post-meta"><%= t('.published_in') %> <%= l(@post.created_at, format: :short) %></p>
</div>

<div class="flex gap-4 justify-center items-center">
  <%= link_to t('.edit_post'), edit_event_post_path(@event_id, @post), class: "btn-confirm" if @post.user == current_user %>
  <%= link_to t('.delete_post'), event_post_path(@event_id, @post), method: :delete, class: "btn-delete" if @post.user == current_user %>
</div>

<% if user_signed_in? %>
  <div class="flex items-center gap-2 justify-center">
    <% if !@post.liked_by?(current_user) %>
      <%= button_to event_post_likes_path(event_id: @event_id, post_id: @post.id), id: "like-button", class: "like-button" do %>
        ❤️ <span><%= t('.like') %></span>
      <% end %>
    <% else %>
      <%= button_to event_post_like_path(event_id: @event_id, post_id: @post.id, id: @like.id), method: :delete, id: "unlike-button", class: "like-button" do %>
        💔 <span><%= t('.unlike') %></span>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="flex items-center gap-2 justify-center">
  <p class="likes-count"><%= @number_of_likes %> <%= t('.likes', count: @number_of_likes) %></p>
</div>

<div class="comments-container">
  <%= render 'shared/errors_messages', model: @comment %>

  <%= render 'comments/new', post_id: @post.id, event_id: @event_id %>

  <% if @post.comments.any? %>
    <div class="mt-4">
      <h2 class="text-2xl font-semibold text-gray-800 mb-4"><%= Comment.model_name.human(count: @post.comments.count) %></h2>

      <%= render @post.comments %>
    </div>
  <% end %>
</div>
