<div class="max-w-3xl mx-auto p-6 bg-white shadow-lg rounded-lg">
  <h1 class="text-3xl font-bold text-gray-800 mb-4"><%= page_title(@post.title) %></h1>
  <%= link_to t('.edit_post'), edit_event_post_path(@event_id, @post), class: "btn-confirm" %>
  <div class="prose prose-lg text-gray-700">
    <%= @post.content %>
  </div>
  <p class="text-sm text-gray-500 mt-4"><%= t('.published_in') %> <%= l(@post.created_at, format: :short) %></p>
</div>

<% if user_signed_in? %>
  <% if !@post.liked_by?(current_user) %>
    <%= button_to event_post_likes_path(event_id: @event_id, post_id: @post.id), id: "like-button" do %>
        <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
        </svg>
    <% end %>
  <% else %>
    <%= button_to event_post_like_path(event_id: @event_id, post_id: @post.id, id: @like.id), method: :delete, id: "unlike-button" do %>
      <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="full" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
      </svg>
    <% end %>
  <% end %>
<% end %>

<p><%=@number_of_likes%> <%=t('.likes', count: @number_of_likes)%></p>
